<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL SignSense</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="title">ASL SignSense</h1>
    <div class="main-container">
        <!-- Webcam stream will go here. -->
        <div class="webcam-container">
            <img id="webcam-feed" src="/webcam-feed" alt="Webcam feed with predictions"></video>
        </div>
    </div>
    <form id="home" onsubmit="home(event)">
        <button type="begin">Return Home</button>
    </form>

    <script>
        // Return to homepage
        function home(event) {
            event.preventDefault();
            window.location.href = '/';
        }
    </script>
</body>
</html>
